
<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
<h1 class="text-center">
    <span class="fa-stack fa-1x">
    </span>Register
</h1>

<form class="form col-md-6 center-block" #registerForm="ngForm" novalidate>
    <div class="form-group">
        <input type="text" class="form-control input-md" placeholder="Username" [(ngModel)]="_newUser.Username"
               name="username" #username="ngModel" required>
        <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
            Username is required
        </div>
    </div>
    <div class="form-group">
        <input type="email" class="form-control input-md" placeholder="Email" [(ngModel)]="_newUser.Email"
               name="email" #email="ngModel" required>
        <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
            Email is required
        </div>
    </div>
    <div class="form-group">
        <input type="password" class="form-control input-md" (ngModelChange)="onPassModified($event)" placeholder="Password" [(ngModel)]="_newUser.Password"
               name="password" #password="ngModel" required>
        <div [hidden]="password.valid || (password.pristine && !registerForm.submitted)" class="alert alert-danger">
            Password is required
        </div>
    </div> 
    <div class="form-group">
        <input type="password" class="form-control input-md" (ngModelChange)="onPassConfModified($event)" placeholder="Repeat Password" [(ngModel)]="_newUser.PasswordConfirmation"
               name="confirmPassword" #confirmPassword="ngModel" required>
        <div [hidden]="confirmPassword.valid ||  (confirmPassword.pristine && !registerForm.submitted)" class="alert alert-danger">
            Password confirmation is required
        </div>
        <div [hidden]="confirmPassword.pristine && !registerForm.submitted || (!confirmPassword.pristine && _newUser.PasswordConfirmation == _newUser.Password)" class="alert alert-danger">
            Password's confirmation does not match with password
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-md btn-block" (click)="register()" [disabled]="!registerForm.form.valid || !_newUser.PasswordConfirmed">Register</button>
    </div>
</form>