<div class="container">

    <div class="row">
        <div class="col-md-9">
            <div class="well text-left">
                Enter user name which you want to send money to
            </div>
            <input type="text"/>
            <button type="button" class="buttonCaption" data-dismiss="modal" aria-hidden="true">Verify</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="well text-left">
                Enter amount
            </div>
            <input type="number"/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-9">
            <button type="button" class="buttonCaption"  aria-hidden="true">Send</button>
        </div>
    </div>
</div>