<div class="container">
    
    <div class="col-md-12 text-left lead">
          <strong>{{_currentUser.UserName}}</strong>               
    </div>
    
        <div class="col-md-12 text-left lead">
            <p><strong>Current balance: {{_currentUser.CurrentBalance}}</strong></p>
        </div>    

    <form class="form col-md-12" #transactionForm="ngForm">
        <div class="row">
            <div class="col-sm-4 text-left">
                New transaction
            </div>
            <div class="col-sm-8 text-left">               
            </div>
        </div>
        
        <!--Entering user-->
        <div class="row">
            <div class="form-group col-sm-4">
                <input type="text" (ngModelChange)="onUserModified($event)" class="form-control input-sm" placeholder="Enter recepient name" [(ngModel)]="_transaction.RecepientName"
                       name="recepient" id="recepient" #recepient="ngModel" required />
                <div [hidden]="recepient.valid || recepient.untouched" class="alert alert-danger">
                    Recepient name is required
                </div>
            </div>
            <div class="col-sm-8"></div>
        </div>

        <!--Entering amount-->  
        <div class="row">
            <div class="form-group col-sm-4">
                <input type="number" (ngModelChange)="onAmountModified($event)" class="form-control input-sm" placeholder="Enter amount" [(ngModel)]="_transaction.Amount"
                       name="amount" id="amount" #amount="ngModel" required />
                <div [hidden]="amount.valid || amount.untouched" class="alert alert-danger">
                    Amount is required
                </div>
                <div [hidden]="amount.pristine || _transaction.AmountValid" class="alert alert-danger">
                    You don't have enough money
                </div>
            </div>
            <div class="col-sm-8"></div>
        </div>

        <!--Send button-->  
        <div class="row">
            <div class="form-group col-sm-2">
                <button class="btn btn-primary btn-md btn-block" (click)="send()" [disabled]="!transactionForm.form.valid || !_transaction.AmountValid">Send money</button>
            </div>
            <div class="col-sm-10"></div>
        </div>
    </form>

    <hr>

    <div class="row">
        <table class="table">
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Amount</th>
                <th>Resulting balance</th>
            </tr>

            <tr *ngFor="let u of _transactions">
                <td><span>{{u.Date | date:'medium'}}</span></td>
                <td><span>{{u.CorrespondedUser}}</span></td>
                <td><span>{{u.Amount}}</span></td>
                <td><span>{{u.ResultingBalance}}</span></td>
            </tr>
        </table>       
        <!--<div>
            <button (click)="getTransactions()" id="btnUserDetails">Load transactions</button>
        </div>-->
    </div>
</div>
    