<div class="row" *ngIf="!servicesInitialized && !servicesInitFailed">
    <div class="col-md-6">
        Initializing services. It may take some time. Please wait...
    </div>
</div>

<div class="row" *ngIf="servicesInitialized">
    <a class="col-md-2" routerLink="/home"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a>
    
    <div class="col-md-2">
        <a routerLink="/transaction" routerLinkActive="active" [hidden]="!isUserLoggedIn()"><i class="fa fa-credit-card fa-fw"></i>&nbsp;Transactions</a>
    </div>
  
    <div class="col-md-2">
        <a routerLink="/account/login" routerLinkActive="active" [hidden]="isUserLoggedIn()"><i class="fa fa-unlock-alt fa-fw"></i>&nbsp;Sign in</a>
    </div>

    <div class="col-md-2">
        <a routerLink="/home" routerLinkActive="active" (click)="logout()" [hidden]="!isUserLoggedIn()"><i class="fa fa-unlock-alt fa-fw"></i>&nbsp;Logout</a>
    </div>

    <div class="col-md-2">
        <a routerLink="/account/register" routerLinkActive="active" [hidden]="isUserLoggedIn()"><i class="fa fa-check fa-fw"></i>&nbsp;Register</a>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>
