
<div class="row">
    <a class="col-md-2" routerLink="/home"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a>

    <div class="col-md-2">
        <a routerLink="/transaction" routerLinkActive="active"><i class="fa fa-credit-card fa-fw"></i>&nbsp;Transactions</a>
    </div>

    <div class="col-md-2">
        <a routerLink="/account/login" routerLinkActive="active"><i class="fa fa-unlock-alt fa-fw"></i>&nbsp;Sign in</a>
    </div>

    <div class="col-md-2">
        <a routerLink="/account/register" routerLinkActive="active"><i class="fa fa-check fa-fw"></i>&nbsp;Register</a>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>
